<!DOCTYPE html>

<head lang="ru">
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Авторизация</title>
</head>

<body>
    <div class="signUpPanel">
        <form method="post" action="/login">
            <div>
                <input type="text" name="inpLogin" id="login" placeholder="Логин" required>
                <input type="password" name="inpPassword" id="password" placeholder="Пароль" required>
                <input type="submit" value="Войти">
            </div>
        </form>
        <div>Вернуться на <a href="index.html"><b>главную</b></a></div>
    </div>
</body>